---
const {title} = Astro.props
---
<a href={`./${title}/`} class="border-2 rounded flex flex-col items-center relative">
    <img class="rounded" src={`/Raid/${title}/${title}.jpg`}  alt={title}>
    <div class="opacity-0 absolute bg-black/50 w-full h-full grid place-items-center">
        <h2 class="text-xl">{title}</h2>
    </div>
</a>
<style>
    a:hover > div {
        opacity: 100; 
    }
</style>